<h1>Kimonos#show</h1>

<p><%= @hakamas.name %>
</p>
<p><%= @hakamas.description %>
</p>
<p><%= @hakamas.image %>
</p>
<p><%= @hakamas.price %>
</p>
<p><%= @hakamas.category %>
</p>
<p><%= @hakamas.color %>
</p>
<p><%= @hakamas.scene %>
</p>