<h1>商品の編集</h1>

<div class="nav.justify-content-end">
  <%= link_to '商品一覧', products_path, class: 'nav-link' %>
</div>

<%= form_with model: @product, local: true do |m| %>
  <form class="form-inline">
    <div class="form-group col-md-6">
      <%= m.label :name %>
      <%= m.text_field :name, class: 'form-control', id: 'product_name' %>
    </div>

    <div class="form-group">
      <%= m.label :description %>
      <%= m.text_area :description, rows: 5, class: 'form-control', id: 'product_description' %>
    </div>

    <div class="form-group col-md-6">
　    <%= m.label :image %>
　    <div class="custom-file">
　      <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">ファイル選択</label>
　    </div>
    </div>

    <div class="form-group col-md-6">
      <%= m.label :price %>
      <%= m.text_field :price, class: 'form-control', id: 'product_price' %>
    </div>

    <div class="form-group col-md-6" >
　    <%= m.label :category %>
      <select class="custom-select">
        <option selected>選択メニュー</option>
        <option value="1">卒業式袴</option>
        <option value="2">振袖</option>
        <option value="3">訪問着</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <%= m.label :color %>
      <select class="custom-select">
        <option selected>選択メニュー</option>
        <option value="1">赤色</option>
        <option value="2">青色</option>
        <option value="3">黒色</option>
        <option value="1">白色</option>
        <option value="2">黄色</option>
        <option value="3">水色</option>
      </select>
    </div>

    <div class="form-group col-md-6">
      <%= m.label :scene %>
      <select class="custom-select">
        <option selected>選択メニュー</option>
        <option value="1">卒業式</option>
        <option value="2">結婚式</option>
        <option value="3">パーティー</option>
      </select>
    </div>

    <%= m.submit nil, class: 'btn btn-primary' %>

  <% end %>

