<h1>商品の編集</h1>

<div class="nav.justify-content-end"></div>
  <%= link_to '商品一覧', products_path, class: 'nav-link' %>

<%= form_with model: @product, local: true do |m| %>
  <form class="form-inline">
    <div class="form-group"></div>
      <%= m.label :name %>
      <%= m.text_field :name, class: 'form-control', id: 'product_name' %>

    <div class="form-group"></div>
      <%= m.label :description %>
      <%= m.text_area :description, rows: 5, class: 'form-control', id: 'product_description' %>

    <div class="form-group"></div>
      <%= m.label :image %>
      <%= m.text_field :image, class: 'form-control', id: 'product_image' %>

    <div class="form-group"></div>
      <%= m.label :price %>
      <%= m.text_field :price, class: 'form-control', id: 'product_price' %>

    <div class="form-group"></div>
      <%= m.label :category %>
      <%= m.text_field :category, class: 'form-control', id: 'product_category' %>

    <div class="form-group"></div>
      <%= m.label :color %>
      <%= m.text_field :color, class: 'form-control', id: 'product_color' %>

    <div class="form-group"></div>
      <%= m.label :scene %>
      <%= m.text_field :scene, class: 'form-control', id: 'product_scene' %>

    <%= m.submit nil, class: 'btn btn-primary' %>

  <% end %>

