<!DOCTYPE html>
<html>
  <head>
    <title>Minatoya</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="app-title navbar navbar-expand-md.navbar-light bg-light">
      <div class="navbar-brand Product">
      </div>
    </div>
    <div class="container" >
      <% if flash.notice.present? %>
        <div class="alert alert-success= flash.notice"></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
